.b1 {
  margin: 10px;
  width: 135px;
  height: 40px;
  align-items: center;
  margin-left: 2rem;
}

.name {
  color: blue;
  margin: 1rem;
  font-weight: bold;
}

.balance {
  color: green;
  font-size: large;
  margin: 1rem;
  font-weight: bold;
}

.balancetext {
  color: rgb(1, 10, 1);
  margin: 1rem;
}

.balanceSignNegative {
  color: red;
  font-size: x-large;
}

.balanceSignPositive {
  color: green;
  font-size: x-large;
}

.memberContainer {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  min-width: 280px;
  align-self: center;
}

.memberInfoContainer {
  display: flex;
  flex-direction: column;
}
