.b1 {
  margin: 10px;
}

.name {
  color: blue;
}

.balance {
  color: green;
  font-size: xx-large;
}

.balanceSignNegative {
  color: red;
  font-size: xx-large;
}

.balanceSignPositive {
  color: green;
  font-size: xx-large;
}
