.s1 {
  color: green;
}

.balanceSignNegative {
  color: red;
  font-size: x-large;
}

.balanceSignPositive {
  color: green;
  font-size: x-large;
}

.endingBalance {
  color: blue;
  margin: 1rem;
  font-weight: bold;
  font-size: x-large;
}
